@media only screen and (min-width: 300px) {
    .nav-part {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    #menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2rem;
        box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.55);
    }
    .menuList {
        list-style-type: none;
    }
}